body{
    background-color: #e9326f;
}
#main{
    background-color: #f8a1af;
    width: 182px;
    padding: 50px;
}
#uname{
    width: 200px;
    height: 30px;
}
#email{
    width: 200px;
    height: 30px;
}
#num{
    width: 200px;
    height: 30px;
}
#pwd{
    width: 200px;
    height: 30px;
}
#city{
    width: 200px;
    height: 30px;
} 
#pin{
    width: 200px;
    height: 30px;
}
#refer{
    width: 200px;
    height: 30px;
}
h3{
    font-size: 40px;
    color: white;
    
}
#btn{
    width: 100px;
   
}
